[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/lonix/ansible-role-docker.git
[submodule "roles/ansible-role-snapraid"]
	path = roles/ansible-role-snapraid
	url = https://github.com/lonix/ansible-role-snapraid
[submodule "roles/ansible-role-rclone"]
	path = roles/ansible-role-rclone
	url = https://github.com/stefangweichinger/ansible-rclone
[submodule "roles/ansible-role-sysdig"]
	path = roles/ansible-role-sysdig
	url = https://github.com/jebovic/ansible-sysdig
